@mixin normalized($base) {
  --rolling-scrollio-target-value: calc(#{$base} *
    calc(
      (
        clamp(
          var(--scrollio-start, 0),
          var(--rolling-scrollio-progress),
          var(--scrollio-end, 1)
        )
        - var(--scrollio-start, 0)
      )
      / (var(--scrollio-end, 1) - var(--scrollio-start, 0))
    )
    * var(--scrollio-multiplier, 1.0)
  );
}

.rolling-scrollio {
  position: relative;
}

[data-rolling-scrollio] {
  will-change: transform;
}


[data-rolling-scrollio='fade-up'] {
  @include normalized(100px);
  transform: translate3d(0, var(--rolling-scrollio-target-value), 0);
}

[data-rolling-scrollio='fade-down'] {
  @include normalized(-100px);
  transform: translate3d(0, var(--rolling-scrollio-target-value), 0);
}

[data-rolling-scrollio='fade-left'] {
  @include normalized(-100px);
  transform: translate3d(var(--rolling-scrollio-target-value), 0, 0);
}

[data-rolling-scrollio='fade-right'] {
  @include normalized(100px);
  transform: translate3d(var(--rolling-scrollio-target-value), 0, 0);
}


